* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
.App {
	min-height: 100vh;
	height: 100%;
}
.home_container {
	width: 100vw;
	height: 100vh;
}
.chatContainer {
	width: '100%';
	height: '100%';
	/* background: url("../public/img/tile_background.png"); */
	background: #3c3366;
	color: '#FFF';
}
.brand {
	font-family: Righteous, cursive;
}
::-webkit-scrollbar {
	width: 0;
}
::-webkit-scrollbar-thumb {
	background: #1d19317e;
}
::-webkit-slider-thumb:hover {
	background: #1d1931;
}
.message {
	display: flex;
	height: 100%;
	flex-direction: column;
	scrollbar-width: none;
	overflow-y: scroll;
	width: 100%;
}
